<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="styles/bootstrap/css/bootstrap.css">
  <link href="animations.css" rel="stylesheet">
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
  <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="bower_components/ace/ace.js">
  <script type="text/javascript" src="bower_components/ace/mode-csharp.js"></script>
  <script type="text/javascript" src="bower_components/ace/theme-monokai.js"></script>
  <script type="text/javascript" src="bower_components/lodash/lodash.js"></script>

  <script type="text/javascript" src="todo.js"></script>
  <script type="text/javascript" src="scripts/popup.js"></script>
  <style type="text/css">
    .done-true {
      color: gray;
      text-decoration: line-through;
    }
	body{
	  width: 742px;
	}
	
  </style>
</head>
<body ng-app="todo" ng-controller="App" class="well">

<h1>Page Object Generator</h1>

<pre id="editor">
	using OpenQA.Selenium;
	using OpenQA.Selenium.Support.PageObjects;
	using System;
	using System.Collections.Generic;
	using System.Linq;
	using System.Text;

	namespace WebDriverScraping.PageObjects.{{pageObject.className}}
	{
		public class {{pageObject.className}}PO
		{
			protected IWebDriver driver;
		<ul class="unstyled"> <li ng-repeat="item in pageObject.fields">
			<span ng-show="item.type !== 'select'" > 
			[FindsBy(How=How.{{item.selectorType}}, Using = @"id(""{{item.selector}}"")")]
			public {{getPoType(item)}} {{item.name}} { get; set; }
			</span>
			<span ng-show="item.type == 'select'" > 
			[FindsBy(How=How.{{item.selectorType}}, Using = @"id(""{{item.selector}}"")")]
			private IWebElement {{item.name}}WebElement { get; set; }

			public SelectElement {{item.name}} { get { return new SelectElement({{item.name}}WebElement); } }
			</li></ul>	
			public {{pageObject.className}}PO(IWebDriver driver)
			{
				this.driver = driver;
			}
		}
	}
</pre>

 <h3 style="font-weight:bold; text-align:center;">DOM Info</h3>
        <table border="1" cellpadding="3" style="border-collapse:collapse;">
            <tr>
                <td nowrap>Total number of elements:</td>
                <td align="right"><span id="total">N/A</span></td>
            </tr>
            <tr>
                <td nowrap>Number of input elements:</td>
                <td align="right"><span id="inputs">N/A</span></td>
            </tr>
            <tr>
                <td nowrap>Number of button elements:</td>
                <td align="right"><span id="buttons">N/A</span></td>
            </tr>
        </table>

</body>
</html>